<!-- <!DOCTYPE html> -->
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<br/>
<br/>
<a href="#" onclick="localStorage.clear(); location.reload();">Reload</a>
<div id="webchat"></div>
<script src="https://storage.googleapis.com/mrbot-cdn/webchat-v0.7.23.js"></script>
<script type="text/javascript">
        function codeAddress() {

            setTimeout(init, 5000);
        }
        window.onload = codeAddress;
        </script>

</body>

<script>
function init() {

WebChat.default.init({
selector: "#webchat",
initPayload: "/session_start",
inputTextFieldHint: "Say Hi or ask me something",
customData: { language: "en" },
socketUrl: "http://localhost:5005",
socketPath: "/socket.io/",
storage: "session",
profileAvatar: "coronavirus.png",
title: "Corona Info BOT",
subtitle: "FAQ about COVID-19",
displayUnreadCount: true,
showFullScreenButton: true,
showMessageDate: true,
openLauncherImage: "coronavirus.png",
embedded: false // true for full screen
});
}

</script>
</html>